<h1>My Tasks</h1>

<form method="POST" action="/tasks">
  <input name="title" placeholder="New task" />
  <button>Add</button>
</form>

<a href="/tasks?status=pending">Pending</a>
<a href="/tasks?status=completed">Completed</a>
<a href="/tasks?status=all">All</a>

<ul>
  <% tasks.forEach(t => { %>
    <li>
      <%= t.title %> - <%= t.status %>

      <form method="POST" action="/tasks/<%= t._id %>">
        <select name="status">
          <option value="pending">pending</option>
          <option value="completed">completed</option>
          <option value="deleted">deleted</option>
        </select>
        <button>update</button>
      </form>
    </li>
  <% }) %>
</ul>